{% extends "traincrud/base.html" %} {% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Train name</td>
            <td>Train No</td>
            <td>From</td>
            <td>To</td>
            <td>LaunchDate</td>
            <td>Goods</td>
            <td>Passenger</td>
            <td>Comments</td>
            <td>Image</td> <br>
            <td>
                <a href="{% url 'train_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>

        </tr>
    </thead>
    <tbody>
        {% for train in train_list %}
        <tr>
            <td>{{train.TrainName}}</td>
            <td>{{train.TrainNo}}</td>
            <td>{{train.Start}}</td>
            <td>{{train.End}}</td>
            <td>{{train.dateoflauch}}</td>
            <td>{{train.Goods}}</td>
            <td>{{train.Passenger}}</td>
            <td><textarea cols="20" rows="5">{{train.comment}}</textarea></td>
            <td><img src="{{train.TrainImage.url}}" height="80" width="80"></td>
            <td>
                <a href="{% url 'train_update' train.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'train_delete' train.id %}" method="POST" class="d-inline" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}